body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #cb202d; /* Yelp red color */
  color: white;
}

.container {
  text-align: center;
  width: 90%;
  max-width: 400px;
  margin: auto;
}

.title {
  font-family: 'Yelp Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif; /* Use Yelp Sans or a similar font */
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: white;
  color: black;
  outline: none;
  box-sizing: border-box
}

button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 2px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

.modal-content {
  background-color: white;
  max-width: 400px;
  width: 90%;
  max-height: 200px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid white;
  padding: 10px;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}

.modal-content-text {
  max-height: 130px;
  overflow-y: auto;
}

.modal-content button {
  background-color: #cb202d;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
